<h2>Τά βιβλία μου - ({{books.length}})</h2>
{{#if books}}
    <div class="table-responsive-sm">
       <table class="table table-hover">
            <thead>
                <tr>
                    <th>Τιτλός</th>
                    <th>Συγγραφέας</th>
                    <th>
                        <a class="btn btn-sm btn-success" href="/addbookform">Προσθήκη Βιβλίου</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td colspan="2">{{this.author}}</td>
                    </tr>
                {{/each}}
            </tbody>
       </table>
    </div>
{{/if}}
{{#unless books}}  
    <div class="row mt-5">
        Δεν υπάρχουν καταχωρημλενα Βιβλία
    </div>
{{/unless}}  